@import "../../node_modules/govuk-frontend/govuk/all.scss";

$redcross-red: #d0021b;
$redcross-grey: #e0e0e0;
$redcross-lightgrey: #f6f6f6;
$redcross-darkgrey: #262626;
$redcross-navy: #193351;
$redcross-white: #ffffff;
$redcross-black: #000000;

$redcross-focus-colour: $redcross-red;
$redcross-focus-text-colour: $redcross-white;


// Theme
$redcross-header-background: govuk-colour("white");
$redcross-footer-background: $redcross-navy;

$redcross-shaded: $redcross-lightgrey;

// Buttons
$redcross-button-colour: $redcross-red;
$redcross-button-hover-colour: govuk-shade($redcross-button-colour, 20%);
$redcross-button-text-colour: govuk-colour("white");

// Box
$redcross-box-border-width: 2px;
$redcross-box-border-radius: 10px;
