{
  "env": {
    "browser": true,
    "commonjs": true,
    "es6": true,
    "node": true,
    "jest": true,
    "cypress/globals": true
  },
  "plugins": ["cypress"],
  "parser": "babel-eslint",
  "extends": ["eslint:recommended", "plugin:prettier/recommended"],
  "parserOptions": {
    "sourceType": "module",
    "ecmaVersion": 2018
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  },
  "rules": {
    "comma-dangle": ["error", "never"],
    "linebreak-style": ["error", "unix"],
    "max-len": ["error", { "code": 100 }],
    "quotes": ["error", "single", {
      "avoidEscape": true,
      "allowTemplateLiterals": true
    }],
    "require-atomic-updates": "off"
  }
}
