{% from "components/button.njk" import redcrossButton %}
{% from "components/progression.njk" import redcrossProgression %}

{% extends "_layout.njk" %}

{% block content %}

    <div class="govuk-width-container">

        <main class="govuk-main-wrapper">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-full">
                    {{ redcrossProgression({ active: "1"}) }}
                </div>
            </div>
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-full">

                    <div class="redcross-content__box">
                        <h1>Make an enquiry</h1>
                    </div>
                </div>
            </div>

        </main>
    </div>

{% endblock %}}
