{% extends "_layout.njk" %}

{% block content %}

<div class="govuk-width-container">

  <main class="govuk-main-wrapper">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <div class="redcross-content__box">
          <h1 class="govuk-heading-xl">Error - {{ errorHeading }}</h1>
        </div>
      </div>
    </div>

  </main>
</div>

{% endblock %}}
