{% from "components/button.njk" import redcrossButton %}
{% from "components/progression.njk" import redcrossProgression %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}

{% extends "_layout.njk" %}

{% block content %}

    <div class="govuk-width-container">
        <main class="govuk-main-wrapper">

            <div class="govuk-grid-row">
                <div class="govuk-grid-column-full">

                    Contact support
                </div>
            </div>

        </main>
    </div>

{% endblock %}}
