{% from "components/button.njk" import redcrossButton %}
{% from "_heading.njk" import heading %}

{% extends "_layout.njk" %}

{% block content %}

  <div class="govuk-width-container">

    <main class="govuk-main-wrapper">

      <div class="app-masthead">
        <div class="app-width-container">
          <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds-from-desktop">
              <h1 class="govuk-heading-xl app-masthead__title">Find missing family</h1>
              <p class="govuk-body">Get help finding missing relatives abroad if you have been separated by war, natural disaster or migration.</p>
              {{ redcrossButton({
                text: "Make an enquiry"
              }) }}
            </div>
          </div>
        </div>
      </div>

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          
        </div>
      </div>

    </main>
  </div>

{% endblock %}}
