{% from "govuk/components/accordion/macro.njk" import govukAccordion %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "components/button.njk" import redcrossButton %}
{% from "components/progression.njk" import redcrossProgression %}

{% extends "_layout.html" %}

{% block content %}

<div class="govuk-width-container">

  <main class="govuk-main-wrapper">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">

        {{ govukBackLink({
        text: "Back",
        href: "/how-lose-contact",
        classes: "redcross-back-link"
        }) }}
      </div>
    </div>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">

        <div class="redcross-content__box">
          <h1 class="govuk-heading-xl">We can't help with your enquiry</h1>

          <p>The British Red Cross can only respond to families who have been separated by war, natural disaster or migration.</p>
          <p>If you were seperated under different circumstances, these organisations can help:</p>

          {{ govukAccordion({
            id: "accordion-default",
            items: [
              {
                heading: {
                  text: "Salvation Army"
                },
                content: {
                  html: "<p class='govuk-body'>Since 1885 the Salvation Army Family Tracing Service has been helping to reconcile family members who have lost contact with each other and facilitating the rebuilding of these relationships.</p>
                         <p class='govuk-body'><a class='govuk-link' href='https://www.salvationarmy.org.uk/family-tracing' target='blank'>Visit their website</a></p>"
                }
              },
              {
                heading: {
                  text: "Missing People"
                },
                content: {
                  html: "<p class='govuk-body'>Since 1885 the Salvation Army Family Tracing Service has been helping to reconcile family members who have lost contact with each other and facilitating the rebuilding of these relationships.</p>
                         <p class='govuk-body'><a class='govuk-link' href='https://www.missingpeople.org.uk' target='blank'>Visit their website</a></p>"
                }
              }
            ]
          }) }}
        </div>
      </div>
    </div>

  </main>
</div>

{% endblock %}}
