{% from "govuk/components/button/macro.njk" import govukButton %}

{% macro redcrossButton(params) %}

{%- set classNames = "redcross-button" -%}
{%- if params.classes %}
  {% set classNames = classNames + " " + params.classes %}
{% endif %}

{{ govukButton({
  text: params.text ,
  classes: classNames,
  href: params.href,
  attributes: params.attributes
}) }}

{% endmacro %}
