{% macro redcrossProgression(params) %}

    <div class="app-progression">
        <ul class="app-progression-bar">
            <li class="active">What we do</li>
            <li>Check eligibility</li>
            <li>Submit an enquiry</li>
        </ul>
    </div>
{% endmacro %}